@import "tailwindcss";

*{
  box-sizing: border-box;
  @apply transition-colors duration-150;
}

body {
  margin: 0;
  padding: 0;
  min-width: 99vw;
  min-height: 100vh;
  @apply bg-[#0E0E0E] text-gray-300 font-sans;
  scroll-behavior: smooth;
  font-family:  'Times New Roman', Times, serif;
  /* place-items: center; */
  /* display: flex; */
}



/* AllNotes.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1C1C1C; /* match notes background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #363535; /* black scrollbar */
  border-radius: 4px;
}
